* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Dancing Script', cursive; */
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.freq-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 59, 0.73)), url("");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.freq-header__heading {
  font-size: 3rem;
}

.freq-main .freq-sect {
  padding: 10em 2em;
}
.freq-main__card-graph {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  background-color: #333;
}
.freq-main__card-graph--heading {
  padding: 1em 1em;
  font-size: 2.5rem;
}
.freq-main__card-graph--img {
  display: block;
  width: 100%;
  height: auto;
  padding: 2em 3em;
  margin-bottom: 10em;
}
.freq-main__card-graph--text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 1em;
  font-size: 2rem;
}

.nav {
  display: flex;
  position: relative;
}
.nav button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 2rem;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  z-index: 10;
}
.nav__items {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  display: none;
  transition: transform 0.3s;
  background-color: #e4e5e6;
  z-index: 10;
}
.nav__items a {
  text-decoration: none;
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
  color: #44406A;
}
.nav .hidden {
  display: none;
}
.nav .show-nav {
  display: flex;
  transform: translateX(0);
}

.header {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 59, 0.73)), url("../img/book-hero.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.header__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 3em;
  text-align: center;
  font-size: 1.2rem;
}
.header__heading {
  margin-bottom: 0.5em;
}

.main .homepage {
  text-align: center;
  background-color: #e4e5e6;
}
.main .homepage__about-us, .main .homepage__about-project, .main .homepage__about-form {
  padding-bottom: 2em;
}
.main .homepage__about-us h2, .main .homepage__about-project h2, .main .homepage__about-form h2 {
  padding-bottom: 0.5em;
  font-size: 2.3rem;
}
.main .homepage__about-us p, .main .homepage__about-project p, .main .homepage__about-form p {
  font-size: 0.9rem;
}
.main .homepage__about-us {
  padding: 10em 2em;
}
.main .homepage__about-project {
  background-color: #44406A;
  padding: 10em 2em;
  color: #e4e5e6;
}
.main .homepage__about-form {
  padding: 10em 2em;
}
.main .homepage__about-form img {
  width: 150px;
}

footer {
  padding: 1.3em;
  font-size: 0.8rem;
  text-align: center;
  color: #e4e5e6;
  background-color: #0B0123;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */