@use "./colors" as *;

@mixin hero-img($gradient, $imgFile) {
	background-image: $gradient, url($imgFile);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin gradient($gradient, $imgFile) {
	background-image: $gradient, url($imgFile);
	background-size: cover;
	background-position: center;
}

.link {
	position: relative;
}

.link,
link::after,
link::before {
	transition: 0.3s;
}

.three::after,
.three::before {
	content: "";
	position: absolute;
	bottom: .5em;
	width: 0px;
	border-bottom: 2px solid $secondary;
	transition: width 0.6s;
}

.three::before {
	right: 50%;
}

.three::after {
	left: 50%;
}

.three:hover::before,
.three:hover::after {
	width: 50%;
}

.small-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 100%;
	padding: 0 1em;
	text-align: center;
	@include gradient($gradient: $headerGradient, $imgFile: "");

	&__heading {
		font-size: 3.5rem;
		text-transform: uppercase;
	}
}

.conclusions {
	color: $main;
	font-size: 1.5rem;
	text-align: center;
	background-color: $secondary;
	border-radius: 20px;
	padding: 2em 1em;
	margin: 4em 2em;

	&--heading {
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	&--text {
		display: flex;
		flex-direction: column;
		p {
			padding: 1em 0;
		}
	}
}
