

@use "./reset" as *;
@use "./mixins" as *;
@use "./colors" as *;
@use "./frequency_style" as *;
@use "./why_you_read_style" as *;
@use "./specific_info_style" as *;
@use "./favourites_style" as *;
@use "./media_queries" as *;

//NAV
.nav {
	position: relative;

	button {
		position: fixed;
		top: 0;
		right: 0;
		margin: 0.5em;
		padding: 0.25em 0.5em;
		font-size: 3rem;
		border: none;
		border-radius: 30%;
		background-color: rgba($main, $alpha: 0.3);
		color: black;
		cursor: pointer;
		z-index: 10;
	}

	&__items {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		transform: translateX(100%);
		transition: transform 0.3s;
		background-color: $main;

		z-index: 10;

		a {
			text-decoration: none;
			padding: 1em;
			text-align: center;
			font-size: 2rem;
			color: $darkViolet;
		}
	}
	.hidden {
		display: none;
	}

	.show-nav {
		transform: translateX(0);
	}
}

//HEADER
.header {
	@include hero-img(
		$gradient: $photoGradient,
		$imgFile: "../img/book-hero.jpg"
	);
	height: 100vh;
	width: 100%;

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 3em;
		text-align: center;
	}

	&__heading {
		margin-bottom: 0.5em;
		font-family: "Dancing Script", cursive;
		font-size: 5rem;
	}

	&__text {
		font-size: 1.5rem;
	}
}

//MAIN
.main {
	.homepage {
		text-align: center;
		background-color: $main;

		&__about-us,
		&__about-project,
		&__about-form {
			padding: 8em 2em;

			h2 {
				padding-bottom: 1em;
				font-size: 3rem;
				text-transform: uppercase;
			}

			p {
				font-size: 1.5rem;
			}
		}

		&__about-project {
			background-color: $darkViolet;
			color: $main;
			@include hero-img(
				$gradient: $darkGradient,
				$imgFile: "../img/about-project-small.jpg"
			);
		}

		&__about-form {
			p {
				padding: 1em;
			}

			h3 {
				font-size: 1.5rem;
				margin-top: 3em;
			}

			.chart {
				width: 15em;

				margin: 2em 0;
			}

			.results {
				h3 {
					margin-bottom: 1em;
				}

				ul {
					list-style: none;

					li {
						color: #000;
						font-size: 1.5rem;

						i {
							margin-right: 1em;
						}
					}
				}
			}
		}
	}
}

//FOOTER
footer {
	padding: 1.5em;
	text-align: center;
	background-color: $darkViolet;
	font-size: 1rem;
	color: $main;
	font-weight: bold;
}
